* {
  margin: 0;
  padding: 0;
}
.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
}

.letter-block {
  width: 55px;
  height: 55px;
  background-color: black;
  border: 2px solid gray;
  margin: 2px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
.row {
  display: flex;
}

.line {
  display: flex;
}

.key-button {
  padding: 20px;
  background-color: rgb(143, 142, 142);
  color: rgb(247, 243, 239);
  font-size: 20px;
  text-transform: capitalize;
  cursor: pointer;
  margin: 3px;
  border-radius: 4px;
  outline: none !important;
}

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  background-color: rgb(121, 226, 121);
}
.included {
  background-color: rgb(249, 249, 142);
  color: black;
}
.incorrect {
  background-color: rgb(61, 61, 61);
}

.game-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.instruction-board {
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-header {
  font-weight: bold;
  color: whitesmoke;
  font-size: 30px;
  letter-spacing: 3px;
  padding: 2px;
}

.menu-bar {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(11, 11, 11);
  border-bottom: 0.5px solid rgb(75, 75, 75);
  position: fixed;
  top: 0;
  height: 8vh;
}

.menu-header {
  color: white;
  font-size: 25px;
}

.menu-header span {
  color: rgb(238, 81, 81);
  margin-bottom: 10px;
}

.keyboard {
}

.instruction {
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hint-button {
  padding: 10px;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  font-size: 20px;
  outline: none !important;
  background-color: rgb(24, 24, 24);
  color: white;
  opacity: 0.4;
}

.hint-button.active {
  opacity: 1;
  -webkit-animation: fontbulgerHint 2s infinite;
  -moz-animation: fontbulgerHint 2s infinite;
  -o-animation: fontbulgerHint 2s infinite;
  animation: fontbulgerHint 2s infinite;
}
/* font bulger*/
@-webkit-keyframes fontbulgerHint {
  0%,
  100% {
    font-size: 16px;
  }

  50% {
    font-size: 20px;
  }
}

@-moz-keyframes fontbulgerHint {
  0%,
  100% {
    font-size: 16px;
  }

  50% {
    font-size: 20px;
  }
}

@-o-keyframes fontbulgerHint {
  0%,
  100% {
    font-size: 16px;
  }

  50% {
    font-size: 20px;
  }
}

@keyframes fontbulgerHint {
  0%,
  100% {
    font-size: 16px;
  }

  50% {
    font-size: 20px;
  }
}

.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transform: scale(0);
  visibility: hidden;
  transition: 450ms ease-in-out;
}

.popup-container.active {
  transition: 450ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  visibility: visible;
}

.popup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 400px;
  width: 500px;
  background-color: rgb(12, 12, 12);
  border-radius: 5px;
  transition: 450ms ease-in-out;
}

.popup-header {
  display: flex;
  justify-content: space-between;
}

.close-button {
  padding: 5px;
  font-size: 30px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
  color: white;
}

.hint-one {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hint-generate-button {
  background: transparent;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 1rem;
  border-radius: 8px;
  font-size: 25px;
  cursor: pointer;
}

.hint-content {
  color: white;
  padding: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 10px;
  transition: 450ms ease-in-out;
}

.single-hint-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.single-hint {
  font-size: 25px;
  font-weight: bold;
  color: rgb(121, 226, 121);
}

.footer {
  width: 100vw;
  position: fixed;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.5px solid rgb(75, 75, 75);
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-weight: bold;
}

.victory-panel-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transform: scale(0);
  visibility: hidden;
  transition: 450ms ease-in-out;
}

.victory-panel-container.active {
  transition: 450ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  visibility: visible;
}

.victory-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 400px;
  width: 600px;
  background-color: rgb(12, 12, 12);
  border-radius: 5px;
  transition: 450ms ease-in-out;
}

.victory-text {
  display: flex;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 3px;
  font-weight: bold;
  padding-top: 10px;
}

.letter {
  --webkit-background-clip: text;
  font-size: 30px;
  color: aliceblue;
}

.winner-text {
  color: white;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;
}

.winner-text-container {
  width: 100%;
}

.focus {
  -webkit-animation: fontbulger 2s infinite;
  -moz-animation: fontbulger 2s infinite;
  -o-animation: fontbulger 2s infinite;
  animation: fontbulger 2s infinite;
}

/* font bulger*/
@-webkit-keyframes fontbulger {
  0%,
  100% {
    font-size: 16px;
  }

  50% {
    font-size: 30px;
  }
}

@-moz-keyframes fontbulger {
  0%,
  100% {
    font-size: 16px;
  }

  50% {
    font-size: 30px;
  }
}

@-o-keyframes fontbulger {
  0%,
  100% {
    font-size: 16px;
  }

  50% {
    font-size: 30px;
  }
}

@keyframes fontbulger {
  0%,
  100% {
    font-size: 16px;
  }

  50% {
    font-size: 30px;
  }
}

.replay-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.replay-content {
  display: flex;
  align-items: center;
}

.replay-button {
  background: black;
  color: white;
  font-size: 25px;
  padding: 7px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
}

.loss-panel-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transform: scale(0);
  visibility: hidden;
  transition: 450ms ease-in-out;
}

.loss-panel-container.active {
  transition: 450ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  visibility: visible;
}

.loss-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 400px;
  width: 400px;
  background-color: rgb(12, 12, 12);
  border-radius: 5px;
  transition: 450ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  flex-direction: column;
}

.loss-header {
  color: white;
  white-space: nowrap;
}

.loss-header span {
  color: greenyellow;
}

.retry-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.retry-text {
  color: aliceblue;
}

.retry-button {
  background: black;
  color: white;
  font-size: 25px;
  padding: 7px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

.menu-bar-icon {
  color: white;
  position: absolute;
  left: 0;
  margin-left: 20px;
  font-size: 25px;
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
  padding: 8px;
  outline: none !important;
}

.howtoplay-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  transform: scale(0);
  visibility: hidden;
  transition: 450ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.howtoplay-container.active {
  transition: 450ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  visibility: visible;
}

.howtoplay-panel {
  width: 60vw;
  height: 70vh;
  border: 0.5px solid gray;
  position: relative;
}

.how-header {
  color: white;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.close-how-button {
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  margin-left: 20px;
  font-size: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
}
